
<div data-role="page" id="editPage">
	 <div data-role="header">
	<h1 style="height: 30px; font-size: 20px;">Edit Notes</h1>
	<a href="notes.html" data-icon="back">Back</a>
	</div>

	<div data-role="content">	
		<form id="editNoteForm" method="post">
			<input type="hidden" name="noteId" id="noteId" value="">
			<div data-role="fieldcontain">
				<label for="noteTitle">Title</label>
				<input type="text" name="noteTitle" id="noteTitle">
			</div>
			<div data-role="fieldcontain">
				<label for="noteBody">Note</label>
				<textarea name="noteBody" id="noteBody"></textarea>
			</div>
			<div data-role="fieldcontain">
				<input type="submit" id="editFormSubmitButton" value="Save Note">
			</div>
		</form>
	</div>


</div>